.arrow_box_left, .arrow_box_right {
        padding: 10px;
        margin-bottom: 20px;
        min-height: 100px;
        border-radius: 6px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.arrow_box_left, .arrow_box_right {
	position: relative;
	background: #88b7d5;
	border: 2px solid #c2e1f5;
}
.arrow_box_left:after, .arrow_box_left:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_left:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.arrow_box_left:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 13px;
	top: 50%;
	margin-top: -13px;
}

.arrow_box_right:after, .arrow_box_right:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_right:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.arrow_box_right:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 13px;
	top: 50%;
	margin-top: -13px;
}