{% extends "core/base.html" %}

{% block header %}
    <header style="padding-top: 40px;">
        <div class="container">
            <h1>{{ topic.title }}</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span2">
                <img src="{{ MEDIA_URL }}{{ topic.posted_by.get_profile.photo }}" class="img-rounded">
                {{ topic.posted_by.username }} {{ topic.date_time }}
            </div>
            <div class="span8"><div class="arrow_box_left">{{ topic.content }}</div></div>
        </div>
        <div class="row">
            {% for comment in comments %}
                <div class="span8 offset2">
                    <div class="arrow_box_right">{{ comment.content }}</div>
                </div>
                <div class="span2">
                    <img src="{{ MEDIA_URL }}{{ comment.posted_by.get_profile.photo }}" class="img-rounded">
                    {{ comment.posted_by.username }} {{ comment.date_time }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}